.blink {
  animation: blink-animation 1.25s steps(2, start) infinite;
  -webkit-animation: blink-animation 1.25s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}